*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(img/fundoMain.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2831D6;
    height: calc(100vh - 6.25rem);
}

header{
    width: 100vw;
    height: 6.25rem;
    background-image: url(img/fundoHeader.jpeg);
    background-color: #2831D6;
    background-size: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

aside{
    background-color:#2831D6;
    height: 40px;
    margin: auto;
    width: 100vw;
}
.orcamento{
    background-image: url(img/fundoHeader.jpeg);
    background-color: #2831D6;
    width: 100%;
    height: 9.375rem;
    border-radius: 1.875rem;
    box-shadow: -4px 4px 11px -1px rgba(0,0,0,0.52);
}
.sub-orcamento{
    background-color: #2831D6;
    width:90%;
    height: 8.125rem;
    padding: 10px;
    border-radius: 1.875rem;
}

.redes img{
    width: 1.9rem;
    margin: 0.625rem;
}
.barra{
    background-color: #FC97BE;
    width: 5px;
    height: 100px;
}
.img-be{
    width: 2.25rem;
    margin: 0.625rem;
}