*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-image: url(img/fundoMain.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2831D6;
    height: 100vh;
}

header{
    background-image: url(img/fundoHeader.jpeg);
    width: 100vw;
    height: auto;
    padding: 1rem;
    background-color: #2831D6;
    background-size: auto;
    margin-bottom: 1rem;
}

header .logo{
    border: 3px outset black
}
.text-sub{
    background-color:#2831D6;
    width: 100vw;
    padding: 10px;

}
.sobre{

}
.orcamento{
    background-image: url(img/fundoHeader.jpeg);
    background-color: #2831D6;
    background-repeat: no-repeat;
    height: 9.5rem;
    border-radius: 1.9rem;
    box-shadow: -4px 4px 11px -1px rgba(0,0,0,0.52);
    padding: 10px;
}
.sub-orcamento{
    background-color: #2831D6;
    width:100%;
    height: 9rem;
    border-radius: 1.875rem;
}
.redes img{
    width: 1.9rem;
    margin: 0.625rem;
}
.barra{
    background-color: #FC97BE;
    width: 5px;
    height: 100px;
}
.img-be{
    width: 2.25rem;
    margin: 0.625rem;
}