*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(img/fundoMain.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2831D6;
    height: calc(100vh - 100px);
}

header{
    background-image: url(img/fundoHeader.jpeg);
    width: 100vw;
    height: auto;
    padding: 1rem;
    background-color: #2831D6;
    background-size: auto;
    margin-bottom: 1rem;
}

header .logo{
    border: 2px solid black
}
.text-sub{
    background-color:#2831D6;
    width: 100vw;
    padding: 10px;

}
.sobre{
    background-color: antiquewhite;
    border-radius: 1.25rem;
    box-shadow: 5px 4px 11px -1px rgba(0,0,0,0.52);
    font-size: 1.1rem;
    font-weight: 500;
}

.reto{
    align-self: flex-start;
    width: 10px;
    height: 70px; 
    margin:  0 10px;
    background-color: #FC97BE;
}
.deitado{
    align-self: flex-end;
    width: 10px;
    height: 70px; 
    margin: 0px 10px 0 10px ;
    background-color: #FC97BE;
}
.orcamento{
    background-image: url(img/fundoHeader.jpeg);
    background-color: #2831D6;
    background-repeat: no-repeat;
    height: 9.5rem;
    border-radius: 1.9rem;
    box-shadow: -4px 4px 11px -1px rgba(0,0,0,0.52);
    padding: 10px;
}
.sub-orcamento{
    background-color: #2831D6;
    width:100%;
    height: 9rem;
    border-radius: 1.875rem;
}
.redes img{
    width: 1.9rem;
    margin: 0.625rem;
}
.barra{
    background-color: #FC97BE;
    width: 5px;
    height: 100px;
}
.img-be{
    width: 2.25rem;
    margin: 0.625rem;
}